{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Gestión de Usuarios de Estacionamiento</h1>
    <nav>
        <ul>
            <li><a href="/registrar">Registrar Nuevo Usuario</a></li>
            <li><a href="/obtener">Obtener Datos de Usuario</a></li>
            <li><a href="/actualizar">Actualizar Datos de Usuario</a></li>
            <li><a href="/eliminar">Eliminar Usuario</a></li>
            <li><a href="/qr">Obtener QR de Usuario</a></li>
        </ul>
    </nav>
{% endblock %}